# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules
/.pnp
.pnp.js

# assets
/_assets
_assets

# testing
/coverage

# production
/build
/.vscode
.vscode

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
Fehler.xlsx
~$Fehler.xlsx


public/_Archiv
*calculations.xlsx
QiGong - I.pdf
QiGong - II.pdf
QiGong - III.pdf
QiGong-Seite.zip
QiGong-Startseite.pdf
public/main_training_alt.jpg
text.txt
scratch.txt
ModalBlog.tsx
