// fonts
@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('truetype');
}

// breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 401px,
  md: 601px,
  lg: 961px,
  xl: 1281px,
  xxl: 1921px,
);

$container-max-widths: (
  sm: 380px,
  md: 580px,
  lg: 900px,
  xl: 1200px,
  xxl: 1900px,
);

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

// colors
$bgGreen50: rgba(19, 73, 0, 0.5);
$bgGreen: rgba(19, 73, 0, 1);
$bgGrey: rgba(232, 232, 232, 1);
$bgWhite: rgba(255, 255, 255, 1);
$bgRed: rgba(121, 0, 0, 1);
$typoGrey: rgba(64, 64, 64, 1);
$typoGreen: rgba(19, 73, 0, 1);
$typoRed: rgba(121, 0, 0, 1);
$shadowGrey: rgba(122, 122, 122, 1);

// body
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  font-family: 'Lato', sans-serif;

  h1 {
    font-size: 38px;
    font-weight: bold;

    @media only screen and (max-width: 1439px) {
      font-size: calc(1.488095vw + 16.5px);
    }

    @media only screen and (max-width: 767px) {
      font-size: calc(1.526718vw + 16px);
    }

    @media only screen and (max-width: 374px) {
      font-size: 22px;
    }

    &.title {
      font-size: 48px;

      @media only screen and (max-width: 1439px) {
        font-size: calc(1.785714vw + 22px);
      }

      @media only screen and (max-width: 767px) {
        font-size: calc(2.290076vw + 18px);
      }

      @media only screen and (max-width: 374px) {
        font-size: 27px;
      }
    }

    &.big {
      font-size: 80px;

      @media only screen and (max-width: 1439px) {
        font-size: calc(2.253521vw + 48px);
      }

      @media only screen and (max-width: 767px) {
        //font-size: calc(5.089059vw + 61px);
      }

      @media only screen and (max-width: 374px) {
        font-size: 56px;
      }
    }

    &.bigger {
      font-size: 120px;

      @media only screen and (max-width: 1439px) {
        font-size: calc(2.97619vw + 77px);
      }

      @media only screen and (max-width: 767px) {
        font-size: calc(5.089059vw + 61px);
      }

      @media only screen and (max-width: 374px) {
        font-size: 80px;
      }
    }
  }

  h2 {
    font-size: 32px;

    @media only screen and (max-width: 1439px) {
      font-size: calc(1.041667vw + 17px);
    }

    @media only screen and (max-width: 767px) {
      font-size: calc(1.463104vw + 14px);
    }

    @media only screen and (max-width: 374px) {
      font-size: 19.25px;
    }

    &.smaller {
      font-size: 24px;

      @media only screen and (max-width: 1439px) {
        font-size: calc(1.041667vw + 9px);
      }

      @media only screen and (max-width: 767px) {
        font-size: calc(1.463104vw + 16px);
      }

      @media only screen and (max-width: 374px) {
        font-size: 11.25px;
      }
    }
  }

  h3 {
    font-size: 20px;
    font-weight: bold;

    @media only screen and (max-width: 1439px) {
      font-size: calc(0.595238vw + 11.5px); // 16px
    }

    @media only screen and (max-width: 767px) {
      font-size: calc(0.636132vw + 11px); // 13,5px
    }

    @media only screen and (max-width: 374px) {
      font-size: 13.5px;
    }
  }

  h5 {
    font-size: 16px;
    font-weight: bold;

    @media only screen and (max-width: 1439px) {
      font-size: calc(0.446429vw + 9.5px); // 13px
    }

    @media only screen and (max-width: 767px) {
      font-size: 13px;
    }

    @media only screen and (max-width: 374px) {
      //font-size: 13.5px;
    }
  }

  p,
  ol {
    font-size: 20px;
    font-weight: normal;

    @media only screen and (max-width: 1439px) {
      font-size: calc(0.595238vw + 11.5px); // 16px
    }

    @media only screen and (max-width: 767px) {
      font-size: calc(0.636132vw + 11px); // 13,5px
    }

    @media only screen and (max-width: 374px) {
      font-size: 13.5px;
    }

    &.small {
      font-size: 18px;
      font-weight: normal;

      @media only screen and (max-width: 1439px) {
        font-size: calc(0.595238vw + 9.5px); // 16px
      }

      @media only screen and (max-width: 767px) {
        font-size: calc(0.636132vw + 9px); // 13,5px
      }

      @media only screen and (max-width: 374px) {
        font-size: 11.5px;
      }
    }
  }

  button {
    font-size: 22px;

    @media only screen and (max-width: 1439px) {
      font-size: calc(0.744048vw + 11.3px); // 17px
    }

    @media only screen and (max-width: 767px) {
      font-size: calc(1.017812vw + 9.2px); // 13px
    }

    @media only screen and (max-width: 374px) {
      font-size: 13px;
    }

    &.small {
      font-size: 16px;

      @media only screen and (max-width: 1439px) {
        font-size: calc(0.446429vw + 9.5px); // 13px
      }

      @media only screen and (max-width: 767px) {
        font-size: 13px;
      }

      @media only screen and (max-width: 374px) {
        //font-size: 13.5px;
      }
    }

    &.smaller {
      font-size: 12px;

      @media only screen and (max-width: 1439px) {
        font-size: calc(0.446429vw + 5.5px); // 13px
      }

      @media only screen and (max-width: 767px) {
        font-size: 9px;
      }

      @media only screen and (max-width: 374px) {
        //font-size: 13.5px;
      }
    }

    &.big {
      font-size: 28px;

      @media only screen and (max-width: 1439px) {
        font-size: calc(0.595238vw + 19.5px); // 24px
      }

      @media only screen and (max-width: 767px) {
        font-size: calc(2.035623vw + 8.4px); // 16px
      }

      @media only screen and (max-width: 374px) {
        font-size: 16px;
      }
    }
  }
}

.modal {
  backdrop-filter: blur(6px);
}

.bg-dark-o {
  background-color: rgba(23, 23, 23, 1) !important;
}

// colors
.red {
  color: $typoRed;
}

.bgRed {
  background-color: $bgRed;
}

.green {
  color: $typoGreen;
}

.bgGreen {
  background-color: $bgGreen;
}

.white {
  color: $bgWhite;
}

.center {
  text-align: center;
}

// heights
.h15 {
  height: 15vh;
}

.h22 {
  height: 22vh;
}

.h26 {
  height: 26vh;
}

.h31 {
  height: 31vh;
}

.h40 {
  height: 40vh;
}

// widths
.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w33 {
  width: 33%;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w66 {
  width: 66%;
}

// typography
.small {
  //font-size: 1.5vh !important;
}

.big {
  //font-size: 10vh;
}

.regular {
  font-weight: 400 !important;
}

.bold {
  font-weight: bold !important;
}

.underline {
  text-decoration: underline;
}

// scroll
.scroll_ {
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@import '../node_modules/bootstrap/scss/bootstrap';